body {
    margin: 0px;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 16px;
    height: 15vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


ul {
    list-style-type: none;
}

li {
    transition: 200ms ease-in-out;
}

a {
    color: black;
}

header li:hover {
    transform: scale(1.1);
}

img {
    object-fit: contain;
}

::placeholder {
    font-style: italic;
}