body {
    margin: 0px;
    overflow-x: hidden;
    background: white;
}

* {
    box-sizing: border-box;
}

:root {
    --white: #F5F5F5;
    --milk: #F2EAD3;
    --beige: #DFD7BF;
    --brown: #3F2305;
}

header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 16px;
    height: 15vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: var(--milk);
    color: var(--brown);
}


ul {
    list-style-type: none;
}

li {
    transition: 200ms ease-in-out;
}

a {
    color: black;
}

header li:hover, header a h1:hover {
    transform: scale(1.1);
}

header a h1 {
    transition: 200ms ease-in-out;
}

img {
    object-fit: contain;
}

::placeholder {
    font-style: italic;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background: var(--white);
    box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
}

main {
    background: white;
}
